{% extends 'base.html' %}

{% block head %}
<title>Song Updater</title>
{% endblock %}

{% block body %}
<div>
    <h1 style="text-align: center;">Update Song</h1>
    <form action="/update/{{song['Song']}}" method="POST">
        <input type="text" name="id" id="id">
        <input type="text" name="song" id="song">
        <input type="text" name="author" id="author">
        <input type="text" name="group" id="group">
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}