{% extends 'base.html' %}

{% block head %}
<title>Song Master</title>
{% endblock %}

{% block body %}
<div>
    <h1 style="text-align: center;">All Songs</h1>
    <table>
        <tr>
            <th>Song</th>
            <th>Author</th>
            <th>Group</th>
        </tr>
        {% for key, value in songs.items() %}
            <tr>
                <td>{{ value['Song'] }}</td>
                <td>{{ value['Author'] }}</td>
                <td>{{ value['Group'] }}</td>
                <td>
                    <a href="">Delete</a>
                    <br>
                    <a href="">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <form action="/" method="POST">
        <input type="text" name="song" id="song">
        <input type="text" name="author" id="author">
        <input type="text" name="group" id="group">
        <input type="submit" value="Add Song">
    </form>
</div>
{% endblock %}