{% extends 'base.html' %}

{% block head %}
<title>Song Master</title>
{% endblock %}

{% block body %}
<div>
    <h1 style="text-align: center;">All Songs</h1>
    <table>
        <tr>
            <th>Time</th>
            <th>Song</th>
            <th>Author</th>
            <th>Group</th>
        </tr>
        {% for key, song in songs.items() %}
            <tr>
                <td>{{ time }}</td>
                <td>{{ song['Titulo'] }}</td>
                <td>{{ song['Autor'] }}</td>
                <td>{{ song['Grupo'] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}